# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db

# Sample: ignore all .env files
.env*

*.toml
.streamlit/
ai/.index*/
tmp_*.py
.index/