--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

torch>=2.1
transformers>=4.44
safetensors
sentence-transformers

langchain>=1.0.0
langchain-community
langchain-chroma
langchain-experimental
langchain-groq
langchain-huggingface
langchain-text-splitters

langgraph
chromadb
tqdm
rank_bm25
python-dotenv
unstructured[md]

fastapi
uvicorn[standard]